main {
  font-family: 'SUIT', sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* { box-sizing: border-box; }
body { margin: 0; background: #f0f7eb; }
